@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10%;
  align-items: center;
  z-index: 100;
}

.logo img {
  text-decoration: none;
  width: 200px;
  height: 80px;
  cursor: default;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: color 0.3s;
}

.navbar a:hover,
.navbar .ac {
  color: #f65d6b;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 180px 10% 130px 10%;
  box-shadow: 5px 10px 25px rgba(173, 142, 142, 0.5);
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 28px;
  font-weight: 700;
}

.home-content #dec {
  margin-bottom: 30px;
}

.home-content h3 span {
  color: #f65d6b;
}

.home-content h1 {
  margin: -3px 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  background-image: linear-gradient(
    -225deg,
    #ee5ff3 0%,
    #28f4f8 29%,
    #f2a456 67%,
    #ed5504 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}

.home-content p {
  font-size: 16px;
  margin-bottom: 30px;
}

.h-img {
  max-width: 450px;
  margin: -20px;
  margin-bottom: 10px;
}

.h-img img {
  max-width: 370px;
}

.social-media {
  margin-left: 50px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #f65d6b;
  border-radius: 50%;
  font-size: 20px;
  color: #f65d6b;
  text-decoration: none;
  margin: 1px 15px 0 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background-color: #f65d6b;
  color: black;
  box-shadow: 0 0 5px #f65d6b;
}

.home-content .btn {
  display: inline-flex;
  padding: 12px 28px;
  background-color: #f65d6b;
  border-radius: 40px;
  box-shadow: 0 0 5px #f65d6b;
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.6s;
}

.home-content .btn:hover {
  background-color: black;
  color: #f65d6b;
  box-shadow: 0 0 15px #f65d6b;
  font-weight: 900;
}

.about {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 110px 30px 70px 30px;
  box-shadow: 5px 10px 25px rgba(173, 142, 142, 0.5);
}

.about-second {
  width: 100vh;
  display: flex;
  flex-direction: column;
}

.about-second p {
  text-align: justify;
}

label {
  margin: 15px 0 0 0;
}

.slider {
  appearance: none;
}

.accent {
  accent-color: #f65d6b;
  margin: 10px auto;
  width: 100%;
  height: 10px;
  transition: opacity 0.2s;
}

.accent:hover {
  accent-color: #f85966;
}

#off {
  margin-top: 40px;
}

#proj {
  height: 10px;
}

.projects ul {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  list-style-type: none;
  margin: 0 auto;
}

ul li {
  margin: 5px 0;
  background: transparent;
  text-align: center;
  width: 25%;
  border-radius: 5px;
  overflow: hidden;
  height: 300px;
  transition: 1s;
  box-shadow: #fff;
}

ul li #d1 {
  box-shadow: 2px 2px 95px #f8f5f9;
}

ul li #d1 a {
  color: #fff;
}

ul li #d1 a:hover {
  color: #000000;
  background-color: white;
}

ul li #d2 {
  box-shadow: 2px 2px 95px #ac42fe;
}

ul li #d2 a {
  color: #b357f9;
}

ul li #d2 a:hover {
  color: #000000;
  background-color: #b357f9;
}

ul li #d3 {
  box-shadow: 2px 2px 95px #fe8442;
}

ul li #d3 a {
  color: #f77a0d;
}

ul li #d3 a:hover {
  color: #000000;
  background-color: #f77a0d;
}

.projects ul li:hover {
  width: 28%;
  height: 470px;
}

.projects ul li img {
  width: 100%;
  height: 285px;
  opacity: 1;
  box-shadow: 2px 2px 20px #fff;
  transition: 1s;
}

.projects ul li img:hover {
  border-radius: 0;
}

.projects ul li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 35px;
  background: transparent;
  border-radius: 10%;
  font-size: 20px;
  text-decoration: none;
  margin: 20px 15px 10px 0;
  padding: 1px 40px;
  box-shadow: 2px 2px 10px #fefefe;
  transition: 1s;
}

.projects ul li a:hover {
  font-weight: 600;
  border-radius: 60px;
}

.projects h2 {
  text-align: center;
  font-size: 25px;
  margin: 5px 0;
}

.projects #hero-h2 {
  margin: -3px 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  background-image: linear-gradient(
    -225deg,
    #c494ff 10%,
    #28f4f8 59%,
    #f2a456 67%,
    #f65d6b 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  font-size: 50px;
  margin: 70px auto 0 auto;
}

#contact {
  height: 60px;
}

.contact {
  width: 100%;
  height: auto;
  display: flex;
  background: linear-gradient(
    176deg,
    rgba(246, 93, 107, 1) 10%,
    rgba(0, 0, 0, 1) 80%
  );
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact h2 {
  margin: 20px auto 5px;
  font-size: 40px;
  font-weight: 700;
}

.contact p {
  width: 50%;
  margin: 10px auto 20px;
  font-size: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: auto;
}

form input {
  width: 60%;
  height: 60px;
  margin: 15px;
  border-radius: 10px;
  padding: 5px 30px;
}

form textarea {
  width: 60%;
  margin: 15px;
  border-radius: 10px;
  padding: 5px 30px;
}

form button {
  width: 25%;
  height: 45px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 20px;
  color: #f65d6b;
  margin: 20px 15px;
  padding: 1px 40px;
  box-shadow: 2px 2px 10px #f65d6b;
  transition: 1s;
  border: none;
}

form button:hover {
  background-color: #f65d6b;
  color: black;
  box-shadow: 0 0 5px #f65d6b;
  font-weight: 600;
  border-radius: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
